<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:replace="fragments/head :: cranes-title"></title>
    <th:block th:replace="fragments/head :: cranes-links"/>
    <th:block th:replace="fragments/head :: cranes-scripts"/>
</head>
<body>
<div class="container">
    <header th:replace="fragments/header :: cranes-header"></header>
    <div th:replace="fragments/fragments :: cranes-navigation"></div>
    <div th:replace="fragments/fragments :: cranes-jumbotron"></div>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 cranes-main">
                <h2 class="pb-4 mb-4 font-italic border-bottom">Книги о войне</h2>
                <div class="cranes-post">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4 class="card-title" th:text="${books_about_war.title}"></h4>
                            <h6 class="card-subtitle" th:text="${books_about_war.author.name}"></h6>
                        </div>
                        <div class="card-body row">
                            <div class="col-md-5">
                                <img class="card-img-top" th:src="@{'/media/image/books_about_war/' + ${books_about_war.title} + '.jpg'}" alt="${books_about_war.title}"/>
                            </div>
                            <div class="col-md-7">
                                <p class="card-text text-justify" th:text="${books_about_war.summary}"></p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="text-muted" th:text="${books_about_war.year_pub}"></p>
                        </div>
                    </div>
                </div><!-- /.cranes-post -->
            </div><!-- /.cranes-main -->
            <aside th:replace="fragments/fragments :: cranes-aside"></aside>
        </div><!-- /.row -->
    </main><!-- /.container -->
    <footer th:replace="fragments/footer :: cranes-footer"></footer>
</div>
</body>
</html>
